.btn {
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    color: #fff;
    font-weight: 600;
    font-family: Source Sans Pro;
    cursor: pointer;
    font-size: 14px;
    max-height: 36px;
    text-align: center;
    position: relative;
    white-space: nowrap;
    &:active {
        transform: translateY(1px);
    }
    &:focus {
        outline: none;
    }
    &-small {
        padding: 6px 9px;
        font-size: 12px;
        font-weight: normal;
        min-width: 60px;
    }
    &-middle {
        padding: 5px 14px;
        font-size: 14px;
    }
    &-green {
        background: #39b54a;
    }
    &-dark-blue {
        background: #516173;
    }
    &-dark-grey {
        background: #333f52;
    }
    &-light-grey {
        background: #c5d0de;
    }
    &-grey {
        background: #a8aab7;
    }

    input[type="file"] {
        cursor: pointer;
        position: absolute;
        top: 0px;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.btn-modal-upgradenow {
    outline: none;
    background: #39b54a;
    border-radius: 24px;
    font-size: 12px;
    max-width: 305px;
    height: 51px;
    outline: none;
    border: none;
    font-weight: 800;
    cursor: pointer;
    display: block;
    color: #fff;
    padding: 0px 20px;
    letter-spacing: 2.7px;
    font-family: Montserrat;
    &:hover {
        background: darken(#39b54a, 10%);
    }
    &:active {
        box-shadow: 0 0 0 2px #39b54a;
        position: relative;
        background: none;
        color: #000;
    }
}

.calendar-btn {

    width: 46px;
    height: 26px;
    border-radius: 3px;
    background-color: #f6f6f6;
    border: solid 1px #cecece;
    cursor: pointer;
    .icon {
        @include absolute-center;
        top: -2px;
    }
}