.table {
    position: relative;
    .even {
        background: #f1f4f8;
    }
    &-item-content {
        padding: 10px 40px;
        border-bottom: 1px solid #dfe2e5;
        display: none;
        &-info {
            width: 350px;
            display: flex;
            justify-content: space-between;
            line-height: 20px;
            span:last-child {
                width: 150px;
            }
        }
    }
    &-head {
        background: #333f52;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 10px;
        &-col {
            color: #fff;
            font-size: 12px;
        }
    }
    &-body {
        &-row {
            min-height: 37px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #dfe2e5;
            padding: 3px 8px;
            &:first-child {
                border-top: 1px solid #dfe2e5;
            }
            &:nth-child(even) {
                background: #f1f4f8;
            }
            &.table-total {
                background: none;
                border: none;
                p {
                    font-size: 18px;
                    @media screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
            }
        }
        &-col {
            color: #354052; // padding: 5px 8px;
            font-size: 12px;
        }
    }
    &-col-2 {
        .table-head-col,
        .table-body-col {
            &:nth-child(1) {
                width: 80%;
            }
            &:nth-child(2) {
                min-width: 130px;
                display: flex; // padding-right: 50px;
                justify-content: space-between;
            }
        }
    }
    &-col-3 {
        .table-head-col,
        .table-body-col {
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(3) {
                width: auto;
            }
        }
    }
    &-col-4 {
        .table-head-col,
        .table-body-col {
            &:nth-child(1) {
                width: 35%;
            }
            &:nth-child(2) {
                width: 15%;
            }
            &:nth-child(3) {
                width: 35%;
            }
            &:nth-child(4) {
                min-width: 200px;
            }
        }
        &.current-paid-products {
            .table-head-col,
            .table-body-col {
                &:nth-child(1) {
                    width: 30%;
                }
                &:nth-child(2) {
                    width: 25%;
                    min-width: 100px;
                }
                &:nth-child(3) {
                    width: 30%;
                }
                &:nth-child(4) {
                    min-width: 160px;
                }
            }
        }
        &.payments-history {
            .table-head-col,
            .table-body-col {
                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(2) {
                    width: 25%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:nth-child(4) {
                    width: 25%;
                    min-width: initial;
                }
            }
        }
    }
    &-col-5 {
        .table-head-col,
        .table-body-col {
            &:nth-child(1) {
                width: 10%;
            }
            &:nth-child(2) {
                width: 24%;
            }
            &:nth-child(3) {
                width: 20%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(5) {
                width: 20%;
            }
        }
    }
    &-col-6 {
        .table-head-col,
        .table-body-col {
            &:nth-child(1) {
                width: 100px;
            }
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3) {
                width: 20%;
            }
            &:nth-child(4) {
                width: 20%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(5) {
                width: 15%;
            }
            &:nth-child(6) {
                min-width: 130px;
                display: flex;
                justify-content: space-between;
            }
        }
        &.servers-list {
            .table-head-col,
            .table-body-col {
                &:nth-child(1) {
                    min-width: 130px;
                }
                &:nth-child(6) {
                    min-width: 140px;
                    display: flex;
                    padding-right: 0px;
                    justify-content: space-between;
                }
            }
        }
        &.websites-table {
            .table-head-col,
            .table-body-col {
                &:nth-child(1) {
                    min-width: 80px;
                }
                &:nth-child(2) {
                    width: 25%;
                    min-width: 80px;
                }
                &:nth-child(3) {
                    width: 20%;
                    min-width: 80px;
                }
                &:nth-child(4) {
                    width: 20%;
                }
                &:nth-child(5) {
                    width: 10%;
                }
                &:nth-child(6) {
                    min-width: 100px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    &-col-7 {
        .table-head-col,
        .table-body-col {
            &:nth-child(1) {
                width: 100px;
            }
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3) {
                width: 10%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(4) {
                width: 15%;
            }
            &:nth-child(5) {
                width: 15%;
            }
            &:nth-child(6) {
                width: 15%;
            }
            &:nth-child(7) {
                min-width: 200px;
                display: flex;
                justify-content: space-between;
            }
        }
        &.websites-list {
            .table-head-col,
            .table-body-col {
                &:nth-child(1) {
                    width: 50px;
                }
                &:nth-child(2) {
                    min-width: 140px;
                }
                &:nth-child(3) {
                    min-width: 100px;
                }
            }
        }
    }
}

.export-btn {
    position: absolute;
    right: 0;
    top: -26px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}


.more-btn-value {
    width: 40px;
    display: inline-block;
    position: relative;
    &.opened:after {
        transform: rotate(225deg);
        top: 0px;
    }
    &:after {
        content: '';
        position: absolute;
        border: solid #39b54a;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        margin-left: 5px;
        position: relative;
        top: -3px;
    }
}



.new-table {
    // table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            background: #333f52;
            td {
                padding: 11px 10px;
                color: #fff;
                font-size: 12px;
                white-space: pre;
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #dfe2e5;

            &:first-child {
                border-top: 1px solid #dfe2e5;
            }
            &:nth-child(even) {
                background: #f1f4f8;
            }

            &.table-total {
                background: none;
                border: none;
                p {
                    font-size: 18px;
                    @media screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
            }

            td {
                padding: 10px 11px;
                min-height: 37px;
                color: #354052;
                font-size: 12px;
                padding: 10px 8px;
                max-height: 37px;
                // white-space: pre;
                vertical-align: initial;
                &.price {
                    white-space: initial;
                }
            }
        }
    }
    .price {
        padding: 10px 10px 10px 10px;
    }
}